footer {
    background-color: #3c3a3a;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

footer::after {
    background-color: #f13c3c;
    content: ''; 
    display: inline-block;
    height: 3px;  
    width: 190px;  
  }