header {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

header::after {
  background-color: #000;
  content: ''; 
  display: inline-block;
  height: 4px;  
  width: 160px;  
}

@media screen and (max-width: 840px) {
  header h1 {
    font-size: 20px;
  } 

  header h2 {
    font-size: 17px;  
  }
}