.promo-wrapper {
    font-size: 17px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.promo-wrapper p {
    margin: 5px 0;
}

.promo-wrapper::before {
    background-color: #f13c3c;
    content:'';
    display: inline-block;
    height: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 15px;
}

@media screen and (max-width: 840px) {
    .promo-wrapper {
        padding: 0 20px;
    }
}